
.html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  p{
    margin: 0;
    bottom: 0;
  }
  a{
    text-decoration: none;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  ul li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .wrapper{
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .footer{
    //margin-top: -133px;
    // min-width: 1200px;
  }
  .container{
    margin: 0 auto;
    position: relative;
    max-width: 1170px;
    width:95%;
  }
  html{
    font-family: 'Raleway-Regular';
  }
  .typed-cursor{
    display: none;
  }
  .section{
    width: 100%;
  }
  
  