@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway-Regular.ttf')  format('truetype'),
  url('../fonts/Raleway-Regular.svg#FiraSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Medium.woff') format('woff'),
    url('../fonts/Raleway-Medium.ttf')  format('truetype'),
    url('../fonts/Raleway-Medium.svg#FiraSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf')  format('truetype'),
    url('../fonts/Raleway-Bold.svg#FiraSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }